{% extends 'layout.html.twig' %}

{# Course Page: show course information and provide a link to various tools #}

{% set active_page="courses" %}

{% block pageName %}{{ course.name }} - Course{% endblock %}

{% block contentTitle %}{{ course.name }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			{# Course information #}
    		<div class="panel panel-default">
    			<div class="panel-body">
        			<p><b>{{ course.description }}</b></p>
            		<p>{{ course.longDescription }}</p>
            		
    			</div>
    			<div class="panel-footer"><b>Author: </b>{{ course.author.displayName }}</div>
    		</div>
    	</div>
	</div>
   	<div class="row">
		<div class="col-sm-6">
			{# Provide a link to view all the questions #}
			<div class="panel panel-info">
				<div class="panel-heading">Study</div>
    			<div class="panel-body">
        			<p>This section provides a set of tools to learn and study the subject, before starting the testing phase.</p>
					<p><a href="{{ path("list_questions", {'course_id' : course.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> View all Questions and Answers</a></p>
    			</div>
    		</div>
		</div>
		<div class="col-sm-6">
			{# Provide links to start quizzes #}
			<div class="panel panel-success">
				<div class="panel-heading">Test</div>
    			<div class="panel-body">
        			<p>This section provides a set of tools to test and reinforce your comprehension by using repetition.</p>
    			    {# Check if a user has already started a quiz, if so, provide a link to continue it #}
			        {% if already_started %}
    					<p><a href="{{ path("recover_quiz", {'course_id' : course.id}) }}" class="btn btn-warning"><span class="glyphicon glyphicon-repeat"></span> Continue the Quiz</a></p>
    				{% endif %}
    				
    				<p><a href="{{ path("quiz", {'course_id' : course.id}) }}" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Start a Quiz ( All Questions )</a></p>
        			
                    {% if app.user %}
                    	<a href="{{ path('mistaken_quiz', { 'course_id' : course.id }) }}" class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> Quiz Most Mistaken!</a>
                    {% endif %}
        		</div>
        	</div>
		</div>
	</div>
{% endblock %}