{# Render the table of courses #}

{% if courses %}
    <div class="list-group">
    	{% for course in courses %}
    		<span class="list-group-item clearfix">
    			<span class="pull-left text-left">
        			<h4><a href="{{ path('course', {'course_id' : course.id}) }}" >{{ course.name }}</a>
        			<div class="hidden-xs"><small>{{ course.description }} - Author: {{ course.author.displayName }}</small></div></h4>
    				
    			</span>
    			<span class="pull-right">
    				<a href="{{ path("quiz", {'course_id' : course.id}) }}" class="btn btn-success">
    					<span class="glyphicon glyphicon-play"></span><div class="hidden-xs">Start a Test</div>
    				</a>
    				<a href="{{ path('list_questions', {'course_id': course.id }) }}" class="btn btn-info">
    					<span class="glyphicon glyphicon-th-list"></span><div class="hidden-xs">Question List</div>
    				</a>
    				<a href="{{ path('stats', {'course_id': course.id}) }}" class="btn btn-warning">
    					<span class="glyphicon glyphicon-signal"></span><div class="hidden-xs">View Stats</div>
    				</a>
    				
    				{# If the user is ADMIN, enable editing a course #}
    				{% if is_granted('ROLE_ADMIN') %}
        				<a href="{{ path('edit_course', {'course_id': course.id}) }}" class="btn btn-danger">
        					<span class="glyphicon glyphicon-pencil"></span><div class="hidden-xs">Edit Course</div>
        				</a>
        			{% endif %}
    			</span>
    		</span>
    	{% endfor %}
    </table>
{% else %}
	<p>There are no courses at the moment...</p>
{% endif %}