{% extends 'layout.html.twig' %}

{# Course Page: show course information and provide a link to various tools #}

{% set active_page="courses" %}

{% block pageName %}{{ course.name }} - {% trans %}Course{% endtrans %}{% endblock %}

{% block contentTitle %}{{ course.name }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			{# Course information #}
    		<div class="panel panel-default">
    			<div class="panel-body">
        			<p><b>{{ course.description }}</b></p>
            		<p>{{ course.longDescription }}</p>
            		
    			</div>
    			<div class="panel-footer"><b>{% trans %}Author{% endtrans %}: </b>{{ course.author.displayName }}</div>
    		</div>
    	</div>
	</div>
   	<div class="row">
		<div class="col-sm-6">
			{# Provide a link to view all the questions #}
			<div class="panel panel-info">
				<div class="panel-heading">{% trans %}Study{% endtrans %}</div>
    			<div class="panel-body">
        			<p>{% trans %}This section provides a set of tools to learn and study the subject, before starting the testing phase{% endtrans %}.</p>
					<p><a href="{{ path("list_questions", {'course_id' : course.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> {% trans %}View all Questions and Answers{% endtrans %}</a></p>
    			</div>
    		</div>
		</div>
		<div class="col-sm-6">
			{# Provide links to start quizzes #}
			<div class="panel panel-success">
				<div class="panel-heading">Test</div>
    			<div class="panel-body">
        			<p>{% trans %}This section provides a set of tools to test and reinforce your comprehension by using repetition{% endtrans %}.</p>
    			    {# Check if a user has already started a quiz, if so, provide a link to continue it #}
			        {% if already_started %}
    					<p><a href="{{ path("recover_quiz", {'course_id' : course.id}) }}" class="btn btn-warning"><span class="glyphicon glyphicon-repeat"></span> {% trans %}Continue the Quiz{% endtrans %}</a></p>
    				{% endif %}
    				
    				<p><a href="{{ path("quiz", {'course_id' : course.id}) }}" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> {% trans %}Start a Quiz ( All Questions ){% endtrans %}</a></p>
        			
                    {% if app.user %}
                    	<a href="{{ path('mistaken_quiz', { 'course_id' : course.id }) }}" class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> {% trans %}Quiz Most Mistaken{% endtrans %}!</a>
                    {% endif %}

					{% if chapters %}
						<br><br>
						<p>You can also test individual chapters:</p>

						<table class="table table-striped text-left">
							<thead>
							<tr>
								<th>Chapter</th>
								<th>Questions</th>
								<th>Actions</th>
							</tr>
							</thead>
							<tbody>
							{% for chapter in chapters %}
								<tr>
									<td>{{ chapter.name }}</td>
									<td>{{ chapter.questions|length }}</td>
									<td>
										<a href="{{path("quiz", {'course_id' : course.id, 'chapter_id': chapter.id}) }}" class="btn btn-success btn-xs pull-right" data-toggle="tooltip" title="Edit Question">
											<span class="glyphicon glyphicon-play"></span> Start Quiz
										</a>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					{% endif %}
        		</div>
        	</div>
		</div>
	</div>
{% endblock %}