{% extends 'layout.html.twig' %}

{# Settings Page: render a form to change User Settings and provides a set of tools #}

{% set active_page="settings" %}

{% block pageName %}Settings{% endblock %}

{% block contentTitle %}Settings{% endblock %}

{% block content %}
	{# If there is a message, render it #}
	{% if message is not null %}
    	<div class="alert alert-success">
    		<strong>Done!</strong> {{ message }}
    	</div>
    {% endif %}
    
    <!-- User Setting Form -->
	<div class="panel panel-default">
		<div class="panel-heading">Settings</div>
		<div class="panel-body">
			{{ form_start(form) }}
                {{ form_row(form.enable_reminder) }}
            
                <button type="submit" class="btn btn-success">Save Settings</button>
            {{ form_end(form) }}
		</div>
	</div>
	
	<!-- Settings Tools -->
	<div class="panel panel-default">
		<div class="panel-heading">Actions</div>
		<div class="panel-body">
			<a href="{{ path('delete_recorded_answers') }}" class="btn btn-danger">Delete Progress Data</a>
		</div>
	</div>
{% endblock %}